@addTagHelper * , MicrsosftAspNetCore.Mvc.TagHelpers




@*<cache>
    Cache : @DateTime.Now
</cache>
<br />
@DateTime.Now*@



@*<h3>FormHtmlHelper</h3>
@Html.BeginForm("TagHelper","TagHelper",FormMethod.Post)

<h3>FormTagHelper</h3>
<form asp-action="TagHelper" asp-controller="TagHelper" method="post"></form>*@

