@addTagHelper * , MicrsosftAspNetCore.Mvc.TagHelpers
@addTagHelper * , View


<a href="mailto:zaferavci89@gmail.com">Email</a>
<br />

<email a="" ="zaferavci89@gmail.com" display="Zafer Avcı'nın Maili'"></email>
<mail1 a="" mail="zaferavci89@gmail.com" display="Zafer Avcı'nın Maili'"></mail1>

@*<cache>
    Cache : @DateTime.Now
</cache>
<br />
@DateTime.Now*@



@*<h3>FormHtmlHelper</h3>
@Html.BeginForm("TagHelper","TagHelper",FormMethod.Post)

<h3>FormTagHelper</h3>
<form asp-action="TagHelper" asp-controller="TagHelper" method="post"></form>*@

