
@*@{
    Layout = null; Layout kullanmak istemiyorsak bu şekilde layoutu ezeriz.
}*@

@{
    Product //namespace tanımlaması yapılmadan geldi ViewImports.cshtml sayesinde
}

 @*<a asp-controller=""></a>  tagHelper tanımlaması yapmadan kullanılabilir oldu ViewImport Sayesinde*@

@section solmenu{
    <h4>Reklam</h4>
}
<h1>Sayfa1</h1>

