@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@*bind edilmiş vberi için *@
@model KullanicidanVeriAlmaYöntemleri.Models.Product
<form asp-action="VeriAl" asp-controller="FormUzerinden"\@*Burada controller ismini yazacağız*@ method="post"> 
    <input type="text" asp-for="Name" /> <br />
    <input type="text" asp-for="Quantity" /> <br />
    <button>Kaydet</button>
</form>